*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }
 .header li{
     display: inline-block;
     text-decoration: none;
     margin-top: 6px;
    
    
 }
 li a{
     color: black;
 
    
    
 }
 #items{
     margin-left: 50em;
     display: inline-block;
 
 }
 #items li a{
   padding:2px 30px 0 30px ;
   text-decoration: none;
 }
 .icon1{
     margin-left:10em;
     display: inline-block;
 }
 #home{
     display: flex;
 }
 #img{
     display: flex;
     
 }
 #img img {
      margin-left: 20em; 
     margin-top: 40px;
     width: 35em;
     height: 30em; 
 }
 #content{
     margin-top: 50px;
     /* padding: 40px; */
     margin-left: 100px;
  
 
   
 }
 #content h6{
   line-height: 30px;
   font-size: larger;
 }
 #button{
     margin-left: 70em;
   justify-content: space-between;
         }
         /* about sec */

         #aboutsec{
            text-align: center;
            width: 100%;
            height: 50%;
            margin-top: 10em;
            
         }

         #about{
            margin-top: 5%;
         }

#sec3{
    text-align: center;
    margin-top: 8%;
}
/* cards section */
#cards{
    display: inline-block;
  margin: 90px 50px 0 100px;
 
}

.card1{
    width: 9em;
    height: 17em;
   margin: 7px;
   font-size: xx-large;
   /* border-style: dashed ;
  border: 3px; */
  border: dashed;
  border-color: rgb(177, 177, 177);
   

}
.card1 img{
    height: 120px;
    width: 150px;
}
.cont{
   margin: 12px;
    text-align: center;
}

#bigcard{
    border: dashed;
    border-color: rgb(177, 177, 177);
width: 87%;
height: 50%;
text-align: center;
margin-left: 6.9em;
}
#cont4
{
    margin: 100px;
}
#cont4 img{
    width: 30%;
    height: 40%;
}
 #client{
    display: flex;
    margin-left: 10%;
    

  
} 
#clientcont{
    
    text-align: center;
}
#form-section{
   display: flex;
   margin-left: 90px;
   
}
#form{
    margin-left: 50px;
    width: 90px;
    height: 40em;
    color: rgb(190, 190, 190);
    padding: 90px;
    

   
}
#map{
    margin-left: 40em;
    margin-top: 80px;
}
input{
    height: 70px;
    width: 30em;
}
/* section end */
.btn{
    width: 7em!important ;
}
#footer{
    display: flex;
    text-align: center;
    background-color: rgb(31, 30, 30);
    height: 50%;

}
.footer-cont{
    /* width: 50px;
    height: 80px;
    display: flex; */
   margin: 10px;
   text-align: center;
   margin-left: 20em;
   color: white;
}



          @media only screen and (max-width: 1300px)    

{
    #home{
        flex-direction: column;
    }
    #img  {
      float: left;
      margin-right: 10px;
    }
    #button{
        margin-left: 20%;
    }
}
@media only screen and (max-width: 860px)    



{
    #bigcard{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1000px)    
{
    #veg-img{
        width: 6;
        height: 8em;
    }
}
@media only screen and (max-width: 677px)    
{
#veg-img{
    width: 3;
    height: 5em;
}
}
@media only screen and (max-width: 430px)    
{
#veg-img{
    width: 1;
    height: 3em;
}}

@media only screen and (max-width: 1646px)    
{
    #footer{
        flex-direction: column;
    }
}


@media only screen and (max-width: 754px)    
{
    .footer-cont{
        margin-left: 12px;
    }
}

@media only screen and (max-width: 710px)    

{
    #img3{
        width: 19em;
        height: 11em;
    }
}   


@media only screen and (max-width: 900px)    
{
    #img img{
margin-left: 5px;
background-color: blueviolet;
text-align: left;

}

}

@media only screen and (max-width: 1670px)    

{
   .header{
        flex-direction: column;
        background-color: blueviolet;
        text-align: left;
    }
    #items{
        flex-direction: column;
        text-align: left;
    }
}
















         /* @media only screen and (max-width: 2552px)    
{
    #home{
        flex-direction: column;
    }
}
@media only screen and (max-width: 1300px)    
{
   #img{
    background-color: blue;
   margin-left: 1px;
   }
} */